
 @font-face {
    font-family: 'gotham-regular';
    src: url('../../assets/fonts/GothamBook Regular.otf') format('opentype');
    src: local('?'),
    url('../../assets/fonts/gothambook-regular.ttf') format('truetype'),
    url('../../assets/fonts/gothambook-regular.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'gotham-medium';
    src: url('../../assets/fonts/Gotham-Medium.otf') format('opentype');
    src: local('?'),
    url('../../assets/fonts/Gotham-Medium.ttf') format('truetype'),
    url('../../assets/fonts/Gotham-Medium.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'gotham-bold';
    src: url('../../assets/fonts/Gotham-Bold.otf') format('opentype');
    src: local('?'),
    url('../../assets/fonts/gotham-bold.ttf') format('truetype'),
  
    url('../../assets/fonts/gotham-bold.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'gotham-meditalic';
    src: url('../../assets/fonts/Gotham-Medium-Italic.ttf') format('truetype');
    src: local('?'),
    url('../../assets/fonts/GothamMedium-Italic.otf') format('opentype'),
  
    url('../../assets/fonts/gotham-medium-italic.svg') format('svg');
    font-weight:normal;
}
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}
.intro-section img {
    margin:0 auto;
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background: url(../../assets/images/sidenav-bg.jpg) top center no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav p {
    color: #fff;
    font-family: 'gotham-medium',arial;
    font-size: 12px;
    position: absolute;
    padding: 10px;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: 'gotham-medium',arial;
}
.sidenav ul li {
    list-style: none;
}
.navbar {
    border:0 none;
    padding:10px;
}
nav .fa {
    font-size: 20px;
}
nav li {
    padding-top:5px;
}
nav li:last-child {
    padding-top: 0px;
}
.nav>li>a {
    padding:10px;}
.navbar-default .navbar-collapse {
    float: right;
    border:0 none;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
nav .fa-facebook {
    color: #3f5c9a;
} 
.navbar-default .navbar-toggle {
    border-radius: 0px; margin-left: 10px;
    background-color: #ddd;
}
nav .fa-quora {
    color: #cf2217;
}
nav .fa-twitter {
    color: #1da1f2;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.intro-inner p {
    font-size: 18px;
    color: #787878;
    margin-top: 20px;
    clear: both;
    float: left; width: 100%;
}
.nopadding {
    padding:0;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
.searchbox {
    width: 100%;
    padding:20px 10px;
    font-family: 'gotham-regular',arial;
    /*box-shadow: 7px 9px 12px #ddd;*/
    font-size: 16px;
    border:0 none;
    margin: 20px 0px 30px 0px; outline:0 none;
    margin-bottom: 0px;
}
.scrollbtn a,.scrollbtn a:hover {
    display: block;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-top: 10px; border:0 none;
    padding: 10px; background-color: #fff;
}
.intro-inner {
    margin:0 auto; float: none; margin-top: 16%;
}
.scrollbtn {
    position: absolute; font-size: 16px; color: #787878;
    bottom:20px; width: 100%; text-align: center;
}
.intro-section {
    position: relative;
}
.aboutsectn-inner {
    color: #fff;
}
.aboutsectn-inner h3,.moreabtgst-inner h3 {
    font-size: 48.17px; margin-bottom: 30px;
}
.aboutsectn-inner p,.moreabtgst-inner p {
    font-size: 18px; line-height: 1.5;
}
.scrollbtn i {
    color: red;font-size: 18px; margin:0 auto;background-color: #fff;
}
.intro-section,.signupbg {
    height: 100%;
    padding-top: 71px;
    text-align: center;
    background: url(../../assets/images/mainpage-bg.jpg) #ccc top center no-repeat;
    background-size: cover;
}
@media(min-width:767px) {
    .top-nav-collapse {
        padding: 0;
    }
}
.about-section {
    height: 100%;
    padding-top: 120px;
    text-align: center;
    background: url(../../assets/images/about-bg.jpg) top center no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.aboutsectn-inner,.moreabtgst-inner,.loginform img {
    float: none;
    margin:0 auto;
}
.moreabtgst-section {
    height: 100%;
    padding-top: 120px;
    text-align: center;
    background: url(../../assets/images/more-about-bg.jpg) top center no-repeat;
    background-size: cover;
    background-position: 100% 100%; color: #fff;
}
#search {
    position: relative;}
#search label {
    position: absolute;
    right: 17px;
    top: 35px;
    font-size: 25px; color: #5c3876;
}
.knowmorebtn {
    font-size: 18px;
    border: 0 none;
    outline: 0 none;
    padding-bottom: 10px;
    background-color: #32414c;
    color: #fff;
    width: 250px;
    padding: 12px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.moreabtgst-inner .knowmorebtn {
    background-color: #5c3876;
}
.sidenav button {
    border: 2px solid #fff;
    background-color: transparent !important;
    font-family: 'gotham-bold',arial;
    font-size: 14px;
    padding: 11px 30px;
    border-radius: 5px;
    margin: 20px auto;
    color: #fff;
    display: block;
    clear: both; float: none;
    width: 84%; text-transform: uppercase;
}
.sidenav button:hover {
    background-color: #fff !important; color: #2d5497;

}
.signup-btn {
    margin-top: 50px !important;
}
.login-btn {
    margin-bottom: 50px !important;
}
.sidenav label {
    text-transform: uppercase; color: #fff; font-family: 'gotham-medium',arial;
    font-size: 18px;
}
.logincontent label {
    font-size: 24px;
    font-family: 'gotham-regular',arial;
    color: #5e5e5e;
    text-align: center;
    margin-bottom: 20px;
}
.logincontent label span,.signupcontent h3 span {
    color: #2d5497;
}
form {
    background-color: #fff;
    padding:40px;
    display: block;
    overflow: hidden;
}
.intro-inner form {
    background: transparent;
    padding: 0px;
}
.showhidebtn {
    position: absolute;
    top: 10px; cursor: pointer;
    right: 20px
}
.passowrdsectn {
    position: relative;
}
.logincontent .passowrdsectn span,.passowrdsectn span {
    font-size: 20px;
    color: inherit;
}
.textbox1 {
    width: 100%; padding:15px;
    font-family: 'gotham-meditalic',arial;
    outline:0 none;
    border:1px solid #929292;
    margin-bottom: 15px;
    color: #929292; height: 55px;
    background: inherit;
    border-radius: 5px;
}
#showhide {
    background-color: transparent;
    border:0 none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #929292;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #929292;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #929292;
}
:-moz-placeholder { /* Firefox 18- */
  color: #929292;
}
.signupcontent h3 {
    font-size: 31.84px;
    color: #5e5e5e;
    font-family: 'gotham-regular',arial;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: left;
}
.signupcontent p {
    font-size: 14px;
    font-family: 'gotham-regular',arial;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
}
.signupcontent h4 {
    font-size: 23.53px;
    color:#5e5e5e;
    font-family: 'gotham-medium',arial;
    margin-bottom: 0px;
    text-align: left;
}
.getstarted-btn,.login-btn {
    outline: 0 none;
    border-radius: 5px;
    padding:15px;
    width: 55%;
    color: #fff; border:0 none;
    font-size: 14px;
    float: left;
    text-transform: uppercase;
    font-family: 'gotham-bold',arial;
    background-color: #2d5497;
    margin-top: 20px; margin-bottom: 20px;
}
.check1 {
    margin-right: 4px !important;
    margin-left: 8px !important;
    vertical-align: sub;
}
.signupbg .container {
    width: 72%;
}
.signupform {
    background-color: transparent;
    padding-left: 0px;
    padding-top: 20px;
}
.signupform span.smallmsg,.loginform span.smallmsg {
    font-size: 12px;
    color: #353535;
    display: inline-block;
    margin-top: 30px;
    text-align: left;
    font-family: 'gotham-regular',arial;
}
.errormsg {
   font-size: 12px; text-align: left;
   color: #353535; display: block;
   margin-bottom: 10px;
   font-family: 'gotham-regular',arial;
}
.logincontent,.signupcontent {
    padding-left: 4%;
    padding-right: 4%;
}
.loginsignupinner {
    padding-top: 10%;
}
.searchbutton {
    background: transparent;
    border: 0 none;
    color: #000;
    font-size: 20px;
    position: absolute;
    right: 4px;
    top: 27px;
}
#suggesstion-box ul {
    background: #fff;
    padding: 10px;
    width: 100% !important;
    display: block;
    text-align: left;
}
#suggesstion-box ul li {
    padding-bottom: 5px;
    font-size: 13px;
    color: #353535;
    font-family: 'gotham-regular',arial;
}
h5.background {
    position: relative;
    z-index: 1;
}
h5.background:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}
h5.background span {
     background: #fff; 
    padding: 0 15px; 
}

@media only screen  and (max-width: 1750px) {
}
@media only screen  and (max-width: 1400px) {
    .intro-inner {
        margin-top: 5%;
    }
    .aboutsectn-inner h3, .moreabtgst-inner h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .sidenav button {
        padding: 9px 25px;
    }
    .scrollbtn a, .scrollbtn a:hover {
        width: 30px;
        height: 30px; padding: 6px;
    }
    .scrollbtn i {
        font-size: 16px;
    }
    .logincontent .passowrdsectn span, .passowrdsectn span {
        font-size: 17px;
    }
    nav .fa {
        font-size: 18px;
    }
    .logincontent label {
        font-size: 19px;
    }
    .scrollbtn {
        font-size: 14px;
    }
    .loginform img {
        max-width: 18%;
    }
    .signupcontent p {
        font-size: 13px;
    }
    .signupcontent h4 {
        font-size: 20px;
    }
    .aboutsectn-inner p, .moreabtgst-inner p {
        font-size: 16px;
        line-height: 1.4;
    }
    .intro-section img {
        max-width: 25%;
    }
    .sidenav a {
        padding: 3px 0px 3px 0px;
        font-size: 12px;
    }
    .knowmorebtn {
        font-size: 16px;
        margin-top: 10px;
        width: 230px;
    }
    .sidenav label {
        font-size: 15px;
    }
    .intro-inner p,.aboutsectn-inner p, .moreabtgst-inner p {
        font-size: 16px;
    }
    .getstarted-btn, .login-btn {
        padding:13px;
        width: 55%;
        margin-top: 10px; 
        margin-bottom: 15px;
    }
    .about-section {
        padding-top: 70px;
    }
    .signupform span.smallmsg {
        display: block; margin-top: 0px; clear:both;
    }
    .searchbox {
        padding:15px 10px;
    }
    .signupbg .container {
        width: 80%;
    }
    .signupcontent h3 {
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .textbox1 {
        height: 50px;
        margin-bottom: 12px;
    }
    .signupform {
        padding-top: 20px;
    }
    .signupform span.smallmsg, .loginform span.smallmsg {
        margin-top: 24px;
    }
}
@media only screen  and (max-width: 800px) {
    .signupcontent {
        margin-top: 20px;
    }
}
@media only screen  and (max-width: 568px) {
    .signupcontent h3 {
        font-size: 24px;
    }
    .signupcontent h4 {
        font-size: 18px;
    }
    .logincontent label {
        font-size: 17px;
    }
    .sidenav label {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .sidenav a {
        padding: 0px 0px 3px 0px;
        font-size: 12px;
    }
    .signupbg .container {
        width: 100%;
    }
    form {
        padding:15px;
    }
    .nav>li {
        display: inline-flex;
    }
    .navbar-collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .loginform img {
        max-width: 60px;
    }
    .loginsignupinner {
        padding-top: 15px;
    }
    .signupform span.smallmsg, .loginform span.smallmsg {
        display: block;
        text-align: left;
        clear: both;
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sidenav button {
        border: 1px solid #fff;
        font-size: 13px;
        float: none;
        padding: 11px 2px;
        margin: 10px auto;
        width: 77%;
    }
    .login-btn {
        margin-bottom: 0px !important;
    }
    .signup-btn {
        margin-top: 25px !important;
    }
    .navbar-header button {
        display: none !important;
    }
    .showhidebtn {
        top: 12px;
        right: 8px;
    }
    .signupform {
        padding-top: 15px;
    }
    .getstarted-btn, .login-btn {
        width: 70%;
        margin-top: 0px;
        padding:11px; margin-bottom: 0px;
    }
    .textbox1 {
        height: 45px;
        padding:10px;
        margin-bottom: 10px;
    }
}
