
 @font-face {
    font-family: 'gotham-regular';
    src: url('../../assets/fonts/GothamBook Regular.otf') format('opentype');
    src: local('?'),
    url('../../assets/fonts/gothambook-regular.ttf') format('truetype'),
    url('../../assets/fonts/gothambook-regular.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'gotham-medium';
    src: url('../../assets/fonts/Gotham-Medium.otf') format('opentype');
    src: local('?'),
    url('../../assets/fonts/Gotham-Medium.ttf') format('truetype'),
    url('../../assets/fonts/Gotham-Medium.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'gotham-bold';
    src: url('../../assets/fonts/Gotham-Bold.otf') format('opentype');
    src: local('?'),
    url('../../assets/fonts/gotham-bold.ttf') format('truetype'),
  
    url('../../assets/fonts/gotham-bold.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'gotham-meditalic';
    src: url('../../assets/fonts/Gotham-Medium-Italic.ttf') format('truetype');
    src: local('?'),
    url('../../assets/fonts/GothamMedium-Italic.otf') format('opentype'),
  
    url('../../assets/fonts/gotham-medium-italic.svg') format('svg');
    font-weight:normal;
}
body {
    width: 100%;
    height: 100%;
}
a,a:hover {
    text-decoration: none; color: inherit;
}
button {
    border:0 none; outline: 0 none;
}

html {
    width: 100%;
    height: 100%;
}
.intro-section img {
    margin:0 auto;
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background: url(../../assets/images/sidenav-bg.jpg) top center no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav p {
    color: #fff;
    font-family: 'gotham-medium',arial;
    font-size: 12px;
    position: absolute;
    padding: 10px;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: 'gotham-medium',arial;
}
.sidenav ul li {
    list-style: none;
}
.navbar {
    border:0 none;
    padding:10px;
}
nav .fa {
    font-size: 20px;
}
nav li {
    padding-top:5px;
}
nav li:last-child {
    padding-top: 0px;
}
.nav>li>a {
    padding:10px;}
.navbar-default .navbar-collapse {
    float: right;
    border:0 none;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
nav .fa-facebook {
    color: #3f5c9a;
} 
.navbar-default .navbar-toggle {
    border-radius: 0px; margin-left: 10px;
    background-color: #ddd;
}
nav .fa-quora {
    color: #cf2217;
}
nav .fa-twitter {
    color: #1da1f2;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.intro-inner p {
    font-size: 18px;
    color: #787878;
    margin-top: 20px;
    clear: both;
    float: left; width: 100%;
}
.nopadding {
    padding:0;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}
.searchbox {
    width: 100%;
    padding:20px 10px;
    font-family: 'gotham-regular',arial;
    /*box-shadow: 7px 9px 12px #ddd;*/
    font-size: 16px;
    border:0 none;
    margin: 20px 0px 30px 0px; outline:0 none;
    margin-bottom: 0px;
}
.scrollbtn a,.scrollbtn a:hover {
    display: block;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    width: 40px;
    height: 40px;
    margin-top: 10px; border:0 none;
    padding: 10px; background-color: #fff;
}
.intro-inner {
    margin:0 auto; float: none; margin-top: 16%;
}
.scrollbtn {
    position: absolute; font-size: 16px; color: #787878;
    bottom:20px; width: 100%; text-align: center;
}
.intro-section {
    position: relative;
}
.aboutsectn-inner {
    color: #fff;
}
.aboutsectn-inner h3,.moreabtgst-inner h3 {
    font-size: 48.17px; margin-bottom: 30px;
}
.aboutsectn-inner p,.moreabtgst-inner p {
    font-size: 18px; line-height: 1.5;
}
.scrollbtn i {
    color: red;font-size: 18px; margin:0 auto;background-color: #fff;
}
.intro-section,.signupbg {
    height: 100%;
    padding-top: 71px;
    text-align: center;
    background: url(../../assets/images/mainpage-bg.jpg) #ccc top center no-repeat;
    background-size: cover;
}
@media(min-width:767px) {
    .top-nav-collapse {
        padding: 0;
    }
}
.about-section {
    height: 100%;
    padding-top: 120px;
    text-align: center;
    background: url(../../assets/images/about-bg.jpg) top center no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}
.aboutsectn-inner,.moreabtgst-inner,.loginform img {
    float: none;
    margin:0 auto;
}
.moreabtgst-section {
    height: 100%;
    padding-top: 120px;
    text-align: center;
    background: url(../../assets/images/more-about-bg.jpg) top center no-repeat;
    background-size: cover;
    background-position: 100% 100%; color: #fff;
}
#search {
    position: relative;}
#search label {
    position: absolute;
    right: 17px;
    top: 35px;
    font-size: 25px; color: #5c3876;
}
.knowmorebtn {
    font-size: 18px;
    border: 0 none;
    outline: 0 none;
    padding-bottom: 10px;
    background-color: #32414c;
    color: #fff;
    width: 250px;
    padding: 12px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.moreabtgst-inner .knowmorebtn {
    background-color: #5c3876;
}
.sidenav button {
    border: 2px solid #fff;
    background-color: transparent !important;
    font-family: 'gotham-bold',arial;
    font-size: 14px;
    padding: 11px 30px;
    border-radius: 5px;
    margin: 20px auto;
    color: #fff;
    display: block;
    clear: both; float: none;
    width: 84%; text-transform: uppercase;
}
.sidenav button:hover {
    background-color: #fff !important; color: #2d5497;

}
.signup-btn {
    margin-top: 50px !important;
}
.sidenav label {
    text-transform: uppercase; color: #fff; font-family: 'gotham-medium',arial;
    font-size: 18px;
}
.logincontent label {
    font-size: 24px;
    font-family: 'gotham-regular',arial;
    color: #5e5e5e;
    text-align: center;
    margin-bottom: 20px;
}
.divider {
    position: relative;
    display: block;
    clear: both;
    overflow:hidden; background-color: #fff; padding-bottom: 10px;
}
.divider hr {
    width: 85%;
}
.divider span {
    position: absolute;
    padding-right: 15px;
    background-color: #fff;
    width: auto;
    padding-left: 15px;
    text-align: center;
    top: 10px;
    font-size: 16px;
    margin-left: -15px;
}
.logincontent label span,.signupcontent h3 span {
    color: #2d5497;
}
form {
    background-color: #fff;
    padding:40px;
    display: block;
    overflow: hidden;
}
form.loginform {
    padding-bottom: 0px;
}
.intro-inner form {
    background: transparent;
    padding: 0px;
}
.showhidebtn {
    position: absolute;
    top: 10px; cursor: pointer;
    right: 20px
}
.passowrdsectn {
    position: relative;
}
.logincontent .passowrdsectn span,.passowrdsectn span {
    font-size: 20px;
    color: inherit;
}
.textbox1 {
    width: 100%; padding:15px;
    font-family: 'gotham-meditalic',arial;
    outline:0 none;
    border:1px solid #929292;
    margin-bottom: 15px;
    color: #929292; height: 55px;
    background: inherit;
    border-radius: 5px;
}
#showhide {
    background-color: transparent;
    border:0 none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #929292;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #929292;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #929292;
}
:-moz-placeholder { /* Firefox 18- */
  color: #929292;
}
.signupcontent h3 {
    font-size: 31.84px;
    color: #5e5e5e;
    font-family: 'gotham-regular',arial;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: left;
}
.signupcontent p,.descriptncon p {
    font-size: 14px;
    font-family: 'gotham-regular',arial;
    color: #000;
    text-align: left;
}
.signupcontent h4 {
    font-size: 23.53px;
    color:#5e5e5e;
    font-family: 'gotham-medium',arial;
    margin-bottom: 10px;
    text-align: left;
}
.getstarted-btn,.login-btn,.signupfb-btn,.signupgplus-btn,.submit-btn {
    outline: 0 none;
    border-radius: 5px;
    padding:15px;
    width: 55%;
    color: #fff; border:0 none;
    font-size: 14px;
    float: left;
    text-transform: uppercase;
    font-family: 'gotham-bold',arial;
    background-color: #2d5497;
    margin-top: 20px; margin-bottom: 20px;
}
.submit-btn {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: none; width: 60%;
    display: block;
}
.check1 {
    margin-right: 4px !important;
    margin-left: 8px !important;
    vertical-align: sub;
}
.signupbg .container {
    width: 72%;
}
.signupform,.otpform,.contactusinner {
    background-color: transparent;
    padding-left: 0px;
    padding-top: 0px;
}
.signupform span.smallmsg,.loginform span.smallmsg {
    font-size: 12px;
    color: #353535;
    display: inline-block;
    margin-top: 30px;
    text-align: left;
    font-family: 'gotham-regular',arial;
}
.errormsg {
   font-size: 12px; text-align: left;
   color: #353535; display: block;
   margin-bottom: 10px;
   font-family: 'gotham-regular',arial;
}
.logincontent,.signupcontent,.contactusinner {
    margin: 0 auto;
    float: none;
}
.loginsignupinner {
    padding-top: 7%;
}
.searchbutton {
    background: transparent;
    border: 0 none;
    color: #000;
    font-size: 20px;
    position: absolute;
    right: 4px;
    top: 27px;
}
#suggesstion-box ul {
    background: #fff;
    padding: 10px;
    width: 100% !important;
    display: block;
    text-align: left;
}
#suggesstion-box ul li {
    padding-bottom: 5px;
    font-size: 13px;
    color: #353535;
    font-family: 'gotham-regular',arial;
}
h5.background {
    position: relative;
    z-index: 1;
}
h5.background:before {
    border-top: 2px solid #dfdfdf;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
}
h5.background span {
     background: #fff; 
    padding: 0 15px; 
}
.halftextbox {
    width: 49%; margin-right: 1%; float: left;
}
.otpform button {
    color: #fff; margin-top: 10px; margin-bottom: 10px;
    font-family: 'gotham-bold',arial;
    background-color: #2d5497;
    width: 250px; border:0 none; outline:0 none;
    font-size: 14px; padding:10px; border-radius: 4px; height: 50px; margin-left: 5px; margin-right: 5px;
}
.viafbgplusctn {
    background-color: #fff;
}
.signupform .passowrdsectn {
    width:49%; float: right; 
}
.signupfb-btn,.signupgplus-btn {
    width: 84%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.signupgplus-btn {
    background-color: #dd4b39;
    margin-bottom: 20px;
}
.topsuggestionscon li {
    list-style: none;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 6px;
    width: 24.2%; height: 80px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 0.3%;
    margin-right: 0.3%;
    display: inline-block;
}
.topsuggestionscon {
    margin: 30px 0px 25px 0px;
}
.topsuggestionscon li span.productthumbimg {
    width: 20%;
    float: left;
    padding: 10px;
}
.topsuggestionscon li span.productinfo{
    width: 55%;    height: 100%;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 10px
}
.topsuggestionscon ul li sub {
    font-size: 22px;
}
.topsuggestionscon li span h6 {
    font-size: 8.38px; text-transform: uppercase;
    font-family: 'gotham-bold',arial;
    color: #c6c6c6; margin-bottom: 0px;
}
.topsuggestionscon li span h5 {
    font-size: 20px; margin-top: 0px;
    text-transform:capitalize;
    color: #0b0b0b;
    font-family: 'gotham-regular',arial;
}
.topsuggestionscon li span.gstrate {
    color: #0b0b0b;
    font-size: 42.82px;
    font-family: 'gotham-regular',arial;
    width: 25%;
    float: right;
    padding: 10px
} 
.summarycon {
    padding-top: 100px;
    background: #fcfcfc;
    display: block;
    width: 100%;
    clear: both;
    overflow: hidden;
}
.mainsearchcon {
    margin-top: 30px;
}
.searchblocks {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.filtersection span {
    margin-right: 15px;
    font-size: 14px;
    font-family: 'gotham-medium',arial;
    color: #626262;
}
 .searchblocks h3,.wikipediacontent h3 {
    color: #1c1c1c;
    font-size: 34px;
    border-bottom: 2px solid #ccc;
    font-family: 'gotham-regular';
    padding-bottom: 15px;
    padding-top: 0px;
    margin-top: 0px;
}
.searchblocks h3 span {
    font-size: 14px;
    font-family: 'gotham-bold',arial;
    float: right;
    color: #2d5497;
    text-transform: uppercase;
    margin-top: 20px;
}
.searchblocks h5 {
    color: #888888;    margin-bottom: 5px;
    font-size: 17px;text-transform: capitalize;
    font-family: 'gotham-medium',arial;
}
.searchblocks h5 span {
    margin-right: 10px;
}
.searchblocks table tr td,.moresearchoptions a {
    font-size: 15px;
    color: #1c1c1c;line-height: 2.1;
    font-family: 'gotham-medium',arial;
    text-transform: capitalize;
}
.moresearchoptions {
    padding: 7px;
    border-top: 2px solid #ccc;
    padding-bottom: 0px;
    margin-bottom: -5px;
}
.searchblocks table {
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
.moresearchoptions a i {color: #888888;font-size: 20px;}
.searchblocks table tr:last-child td {
    color: #2d5497;
}
.wikipediacontent h3 {
    border: 0 none;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.moresearchoptions a,.moresearchoptions a i {
    margin-right: 10px;
}
.wikinavbar {
    position: absolute; top: 0px;
    z-index: 3; width: 100%;
}
.wikimagecon {
    position: relative;
}
.wikinavbar span {
    background: #cacaca;
    padding: 15px;
    font-size: 14px;
    width: 48px;
    text-align: center;
}
.socialshare {
    text-align: right;
}
.wikipediacontent .descriptncon {
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0 none;
}
.wikimagecon img {
    width: 100%;
}
p.continuelink {
    color: #2c2c2c;
}
.moreoptions {
    border-top: 1px solid #ccc;
}
.moreoptions ul li {
    list-style: none;
    padding: 5px 4px;
    margin-bottom: 6px;
    display: inline-block;
}
.moreoptions ul li a {
    color: #2c2c2c;
    font-size: 12px;
    border-radius: 12px;
    padding: 7px 15px 7px 15px;
    background: #cacaca;
}
.wikipediacontent .descriptncon h5 {
    color: #909090; font-size: 16px;
    font-family: 'gotham-medium',arial;
}
.wikinavbar span.prev {left:0; float:left;}
.wikinavbar span.next {right:0; float:right;}
ul.pagination li i {
    margin:0px 10px;
}
.pagination>li>a:hover {
    background-color: #178fff;
    color: #fff;
}
.pagination>li>a, .pagination>li>span {
    padding:10px 20px;
}
.pagination>li>a {
    color: #178fff;
    margin: 3px;
    border:1px solid #178fff;
    font-size: 16px;
}
.pagination nav ul {
    margin:0;
}
.pagination nav,.contactusinner {
    margin:0 auto; text-align: center;
}
footer {
    background: #2e2e2e;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer span i {
    font-style: normal; color: #fff;
}
footer span {
    color: #afafaf; font-size: 14px;
    font-family: 'gotham-medium',arial;
}
nav.secondnav {
    height: 100px; background: #fff; padding-top: 20px;
}
nav.secondnav label i {
    font-size: 25px; margin-right: 10px;
}
nav.secondnav label {
    cursor: pointer;
}
.searchproduct {
    position: absolute;
    left: 20px;
}
.searchproduct input {
    border: 0 none;
    padding: 10px;
    width: 600px;
    border-bottom: 1px solid #ccc;
    background: transparent; outline: 0 none;
    margin-left: 10px;
    margin-right: 10px;
}
.searchproduct span {
    font-size: 18px;
    font-family: 'gotham-medium',arial;
    color: #797979;
    display: inline-block;
    float: left;
    margin: 9px 15px;
}
.searchproduct span:first-child {
    margin-top:0px;
}
nav.secondnav ul {
    padding-top: 10px;
}
.contactusbg,.privacybg {
    background: #fafafa;
    padding-bottom: 20px;
}
form.contactusform {
    background-color: transparent;
    margin-top: -70px;
}
form.contactusform h3,.privacycon h3 {
    font-size: 30px;
    font-family: 'gotham-regular',arial;
    color: #000; margin-bottom: 30px;
}
form.contactusform textarea {
    min-height: 100px;
}
.privacycon p {
    font-family: 'gotham-regular',arial;
    font-size:14px;
    color: #000; line-height: 1.9;
}
.privacycon hr {
    width: 30px; margin-bottom: 35px;
    background: #000;
    color: #000; height: 2px; float: left; display: block; clear: both;
}
.sidearrow {
    width: 61px;
    height: 40px;
    color: #fff;
    padding: 4px 11px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 9999;
    position: relative; cursor: pointer;
    margin-top: 15px;
    font-size: 22px;
}
.privacybg .sidearrow {
    background: #ffd800;
}
.contactusbg .sidearrow {
    background: #0090ff;
}
.userimage img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -5px;
}
.userimage span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}
@media only screen  and (max-width: 1750px) {
}
@media only screen  and (max-width: 1400px) {
    
    .searchproduct span,.scrollbtn i,.topsuggestionscon ul li sub,.intro-inner p,.aboutsectn-inner p, .moreabtgst-inner p {
        font-size: 16px;
    }
    .logincontent .passowrdsectn span, .passowrdsectn span {
        font-size: 17px;
    }
    nav .fa,.topsuggestionscon li span h5,.moresearchoptions a i {
        font-size: 18px;
    }
    .logincontent label {
        font-size: 19px;
    }
    .scrollbtn,.searchblocks table tr td, .moresearchoptions a,.wikipediacontent .descriptncon h5,.pagination>li>a {
        font-size: 14px;
    }
    nav.secondnav label i {
        font-size: 22px;
    }
    .sidenav label,.searchblocks h5 {
        font-size: 15px;
    }
    .submit-btn,.signupcontent p,.getstarted-btn, .login-btn, .signupfb-btn, .signupgplus-btn,.filtersection span,.searchblocks h3 span {
        font-size: 13px;
    }
    .topsuggestionscon li span.gstrate {
        font-size: 28px;
    }
    form.contactusform h3, .privacycon h3 {
        font-size: 27px;
    }
    .signupcontent h4 {
        font-size: 20px;
    }
    .searchblocks h3, .wikipediacontent h3 {
        font-size: 30px;
    }
    .aboutsectn-inner p, .moreabtgst-inner p {
        font-size: 16px;
        line-height: 1.4;
    }
    nav.secondnav {
        height: 90px;
    }
    .loginform img {
        max-width: 18%;
    }
    .searchproduct span {
        margin: 7px 5px;
    }
    .searchproduct img {
        width: 85%;
    }
    .intro-inner {
        margin-top: 5%;
    }
    .searchproduct input {
        width: 500px;
    }
    nav.secondnav ul {
        padding-top: 6px;
    }
    .aboutsectn-inner h3, .moreabtgst-inner h3 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .wikinavbar span {
        padding:12px;
        width: 43px;
    }
    .sidenav button {
        padding: 9px 25px;
    }
    .moresearchoptions a, .moresearchoptions a i {
        margin-right: 6px;
    }
    .searchblocks h3 span {
        margin-top: 17px;
    }
    .scrollbtn a, .scrollbtn a:hover {
        width: 30px;
        height: 30px; padding: 6px;
    }
    .searchblocks {
        margin-bottom: 15px;
    }
    .sidenav a {
        padding: 3px 0px 3px 0px;
        font-size: 12px;
    }
    .knowmorebtn {
        font-size: 16px;
        margin-top: 10px;
        width: 230px;
    }
    .getstarted-btn, .login-btn {
        padding:13px;
        width: 55%;
        margin-top: 10px; 
        margin-bottom: 15px;
    }
    .intro-section img {
        max-width: 25%;
    }
    .about-section {
        padding-top: 70px;
    }
    .signupform span.smallmsg {
        display: block; margin-top: 0px; clear:both;
    }
    .searchbox {
        padding:15px 10px;
    }
    .otpform button {
        width: 200px;
    }
    .signupbg .container {
        width: 80%;
    }
    .signupcontent h3 {
        font-size: 27px;
        line-height: 1.2;
        margin-bottom: 15px;
    }
    .textbox1 {
        height: 50px;
        margin-bottom: 12px;
    }
    .signupform {
        padding-top: 20px;
    }
    .signupform span.smallmsg, .loginform span.smallmsg {
        margin-top: 24px;
    }
    form.contactusform h3, .privacycon h3 {
        margin-bottom: 17px;
    }
    .logincontent {
        width: 50%;
    }
    .privacycon hr {
        margin-bottom: 25px; margin-top: 15px;
    }
    .privacycon p {
        line-height: 1.7; font-size: 13px;
    }
    .loginsignupinner {
        padding-top: 5%;
    }
    .topsuggestionscon li span.productthumbimg {
        width: 18%;
    }
    .topsuggestionscon li {
        height: 68px;
    }
    .sidearrow {
        width: 57px;
        height: 35px;
        padding: 4px 11px;
        font-size: 20px;
    }
}
@media only screen  and (max-width: 800px) {
    .signupcontent {
        margin-top: 20px;
    }
    .topsuggestionscon li span.gstrate {
        font-size: 22px;
    }
    .searchblocks h3, .wikipediacontent h3 {
        font-size: 28px;
    }
    .topsuggestionscon li span.gstrate {
        font-size:24px;
    }
    .topsuggestionscon ul li sub,.sidenav label, .searchblocks h5 {
        font-size: 14px;
    }
    .scrollbtn, .searchblocks table tr td, .moresearchoptions a, .wikipediacontent .descriptncon h5 {
        font-size: 13px;
    }
    nav.secondnav label i {
        font-size: 18px;
    }
    .topsuggestionscon li span h5 {
        font-size: 17px;
    }
    .otpform button {
        height: 45px;
    }
    .topsuggestionscon li span.productthumbimg {
        width: 20%;
        margin-top: 4px;
    }
    form.contactusform {
        margin-top: -49px;
    }
    .topsuggestionscon {
        margin: 20px 0px 15px 0px;
    }
    .topsuggestionscon li span h6 {
        margin-top: 6px;
    }
    .topsuggestionscon li {
        height: 60px;
    }
    .logincontent {
        width: 100%;
    }
    .topsuggestionscon li span.gstrate {
        padding: 7px;
        margin-top: 5px;
    }
    .topsuggestionscon li {
        width: 32.2%;
    }
    .searchproduct span {
        margin: 6px 0px;
    }
    .searchproduct img {
        width: 100%;
    }
    .searchproduct span {
        font-size: 14px;
        margin: 3px 0px;
    }
    nav.secondnav {
        height: 80px;
    }
    nav.secondnav ul {
        padding-top: 0px;
    }
    .searchproduct input {
        width: 250px;
    }
    .summarycon {
        padding-top: 80px;
    }
    form.contactusform h3, .privacyinner h3 {
        margin-bottom: 20px;
    }
    .searchproduct span:first-child {
        margin-top: 0px;
        width: 48px;
        margin-right: 10px;
    }
    .contactusbg, .privacybg {
        margin-top: 70px;
    }
    .sidearrow {
        position: absolute;
        top: -65px;
    }
}
@media only screen  and (max-width: 568px) {
    .signupcontent h3 {
        font-size: 22px;
    }
    .moreoptions ul li a,.topsuggestionscon ul li sub {
        font-size: 10px;
    }
    form.contactusform h3, .privacyinner h3 {
        font-size: 24px;
    }
    .signupcontent p,.topsuggestionscon li span h5,.privacycon p {
        font-size: 12px;
    }
    .signupcontent h4 {
        font-size: 18px;
    }
    form.contactusform h3, .privacycon h3 {
        font-size: 22px;
    }
    .logincontent label {
        font-size: 17px;
    }
    .sidenav label {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .sidenav a {
        padding: 0px 0px 3px 0px;
        font-size: 12px;
    }
    .signupbg .container,.halftextbox,.passowrdsectn {
        width: 100%;
    }
    .topsuggestionscon li span.productthumbimg {
        padding:2px; width: 18%;
        padding-top: 6px;
    }
    .mainsearchcon {
        margin-top: 20px;
    }
    .navbar-nav {
        margin: -3.5px -15px;
    }
    .topsuggestionscon li {
        height: 51px;
    }
    .topsuggestionscon {
        margin: 5px 0px 5px 0px;
    }
    .topsuggestionscon li span.gstrate {
        width: 28%;
        font-size: 17px;
    }
    .topsuggestionscon li span.productinfo {
        width: 54%;
    }
    form {
        padding:15px;
    }
    .topsuggestionscon li {
        width: 48%;
    }
    .nav>li {
        display: inline-flex;
    }
    .navbar-collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .loginform img {
        max-width: 60px;
    }
    .wikipediacontent {
        padding:0;
    }
    .wikipediacontent .descriptncon {
        padding:10px;
    }
    .loginsignupinner {
        padding-top: 15px; padding-left: 0px; padding-right: 0px;
    }
    .otpform button {
        height: 40px;
        font-size: 13px;
        margin-top: 0px;
        width: 140px;
    }

    .signupform span.smallmsg, .loginform span.smallmsg {
        display: block;
        text-align: left;
        clear: both;
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sidenav button {
        border: 1px solid #fff;
        font-size: 13px;
        float: none;
        padding: 11px 2px;
        margin: 10px auto;
        width: 77%;
    }
    .login-btn {
        margin-bottom: 0px !important;
    }
    .signup-btn {
        margin-top: 25px !important;
    }
    .navbar-header button {
        display: none !important;
    }
    .showhidebtn {
        top: 7px;
        right: 15px;
    }
    .signupform {
        padding-top: 15px;
    }
    .getstarted-btn, .login-btn,.submit-btn {
        width: 70%;
        margin-top: 0px;
        padding:11px; margin-bottom: 0px;
    }
    .textbox1 {
        height: 45px;
        padding:10px;
        margin-bottom: 10px;
    }
    .pagination {
        margin:10px 0px;
    }
    .getstarted-btn, .login-btn, .signupfb-btn, .signupgplus-btn,.submit-btn {
        padding:12px; font-size: 12px;
    }
    .searchoptionscon,.seaarchresultcon {
        padding:0px;
    }
    .pagination>li>a, .pagination>li>span {
        padding: 6px 10px;
    }
    .privacycon {
        margin-top: 10px;
    }
    .searchblocks {
        padding:10px;
    }
    form.contactusform h3, .privacyinner h3 {
        margin-bottom: 14px;
    }
    form.contactusform h3, .privacycon h3 {
        margin-bottom: 10px;
    }
    form.contactusform {
        margin-top: -10px;
    }
    .privacycon hr {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .contactusbg, .privacybg {
        margin-top: 63px;
    }
    .sidearrow {
        width: 48px;
        height: 29px;
        padding: 2px 11px;
        font-size: 18px;
        top: -60px;
    }
    .userimage img {
        width: 25px;
        height: 25px;
        margin-top: -8px;
    }
    .userimage span {
        padding-right:3px;
    }
    .nav>li>a.userimage {
        width: auto;
    }
    .nav>li>a {
        width: 25px; height: 25px;
    }

}
